<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlarmeExcel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <AlarmeExcel.My.MySettings>
            <setting name="mailAddress" serializeAs="String">
                <value>recipient@gmail.com</value>
            </setting>
            <setting name="mailSubject" serializeAs="String">
                <value>Dev Mail App</value>
            </setting>
            <setting name="senderAddress" serializeAs="String">
                <value>@gmail.com</value>
            </setting>
            <setting name="senderPassword" serializeAs="String">
                <value>my complicated password</value>
            </setting>
           <setting name="smtpAddress" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
        </AlarmeExcel.My.MySettings>
    </userSettings>
</configuration>
